@import '../../../../style/vars';

$avatar-size: 32px;

.tile {
  margin-left: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .name {
    width: calc(100% - #{$avatar-size} - 10px);
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.tile.idle {
  color: $room_list_idle_color;
}

.tile.active {
  color: $room_list_selected_color;
}

.tile.activity {
  color: $room_list_activity_color;
  font-weight: 700;
}

.tile.idle:hover {
  color: $room_list_activity_color;
}