// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
  width: 100%;
  height: 100%;
}

main {
  display: block;
  width: 100%;
  height: 100%;
}
