<div class="loading" *ngIf="!room">
    <my-spinner></my-spinner>
</div>
<div class="room" *ngIf="room">
    <my-room-header [room]="room" class="header"></my-room-header>
    <div class="timeline ps" [perfectScrollbar]="">
        <div class="events">
            <my-event-tile class="event-tile"
                           *ngFor="let event of timeline"
                           [event]="event"
                           [room]="room"
            ></my-event-tile>
        </div>
    </div>
    <my-room-message-composer [room]="room" class="composer"></my-room-message-composer>
</div>