@import '../../../style/vars';

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.chat {
  background-color: $secondary_bg_color;
  display: flex;
  flex-wrap: nowrap;

  .room-list {
    background-color: $primary_bg_color;
    width: 250px;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    order: 1;
  }
}