@import '../../../style/vars';

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.chat {
  background-color: $secondary_bg_color;
  display: flex;
  flex-wrap: nowrap;

  .room-list {
    order: 1;
    background-color: $room_list_bg_color;
    border-right: 1px solid $room_list_border_color;
    width: 250px;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .room {
    order: 2;
    background-color: $secondary_bg_color;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    flex-grow: 1;
  }
}